.capabilities-section {
	padding-top: 60px;
	padding-bottom: 57.5px;

	&__main {
		display: flex;
		justify-content: space-between;
		gap: 32px;
		margin-bottom: 78px;

		@media screen and (max-width: $bp-tablet) {
			flex-direction: column;
		}
	}

	&__title {
		position: relative;
		font-size: 1.8rem;
		font-weight: 700;
		letter-spacing: 2.306px;

		@media screen and (max-width: $bp-tablet) {
			text-align: center;
		}
	}

	&__title::before {
		content: '';
		position: absolute;
		width: 50px;
		bottom: -10px;
		border: 2px solid var(--color-blue);
	}

	&__service {
		display: flex;
		gap: 32px;
		align-items: center;

		@media screen and (max-width: $bp-tablet) {
			flex-direction: column;
		}
	}

	&__service-text {
		max-width: 400px;

		@media screen and (max-width: 620px) {
			text-align: center;
		}
	}

	&__cards {
		display: flex;
		gap: 28px;

		@media screen and (max-width: $bp-tablet) {
			flex-direction: column;
		}
	}

	&__cards > &__cards {
		flex: 1;
	}

	&__card {
		padding: 38px 22px;
		border: 1px solid #e6e6e6;
	}

	&__card-title {
		font-size: 1.6rem;
		font-size: clamp(1.4rem, 3vw, 1.6rem);
		font-weight: 700;
		padding-top: 25px;
		padding-bottom: 13px;
	}

	&__card-text {
		font-size: 1.3rem;
		font-size: clamp(1.1rem, 2.5vw, 1.3rem);
		font-weight: 400;
	}
}
