.copyrights-section {
	padding: 22px 0;
	background-color: var(--color-black);

    &__text{
        color: var(--color-white);
		// font-size: 11px;
		font-size: clamp(0.9rem, 2.5vw, 1.1rem);
		font-weight: 400;
		letter-spacing: 0.846px;
		text-align: center;
    }
}
