.footer {
	background-color: var(--color-dark-blue);

	&__container {
		padding-top: 42px;
		padding-bottom: 50px;
		display: flex;
		justify-content: space-between;
		gap: 20px;

		@media screen and (max-width: $bp-tablet) {
			align-items: center;
			flex-direction: column;
			text-align: center;
			gap: 20px;
		}
	}

	&__info-title {
		// font-size: 11px;
		font-size: 1.1rem;
		font-weight: 400;
		padding-bottom: 19px;
	}

	&__info-text {
		padding-top: 15px;
		max-width: 250px;
	}

	&__nav-title {
		// font-size: 11px;
		font-size: 1.1rem;
		font-weight: 400;
		padding-bottom: 10px;
	}

	&__link-menu {
		display: flex;
		gap: 36px;
	}

	&__menu-1,
	&__menu-2,
	&__menu-3 {
		display: flex;
		flex-direction: column;
		gap: 10px;
	}

	&__link {
		position: relative;
		color: var(--color-gray);
		transition: color 0.2s linear;
	}

	&__link:before {
		content: '';
		position: absolute;
		bottom: 0;
		height: 1px;
		width: 100%;
		background: var(--color-blue);
		border-radius: 50px;
		transform: scalex(0);
		transition: transform 0.2s linear;
	}

	&__link:hover {
		color: var(--color-blue);
	}
	&__link:hover:before {
		transform: scale(1);
	}

	&__address {
		display: flex;
		justify-content: space-between;
		gap: 47px;

		@media screen and (max-width: $bp-tablet) {
			align-items: center;
			justify-content: center;
			flex-direction: column;
			gap: 0;
		}
	}

	&__adress-list-title {
		font-size: 1.1rem;
		font-weight: 400;
		padding-bottom: 10px;
	}

	&__address-list {
		display: flex;
		flex-direction: column;
		max-width: 140px;
		gap: 15px;
	}

	&__socials {
		padding-top: 31px;
		display: flex;
		gap: 24px;
	}

	&__adress-link {
		color: var(--color-gray);
		transition: color 0.2s linear;
	}

	&__adress-link:hover {
		color: var(--color-blue);
	}

	&__address-icon {
		fill: var(--color-white);
		transition: fill 0.2s linear;
	}

	&__address-icon:hover {
		fill: var(--color-blue);
	}
}
