.get-in-touch-section {
	padding-top: 57.5px;
	background-image: url('../images/bg.png');
	background-size: cover;
	background-position: center 1px;
	background-repeat: no-repeat;

	@media screen and (max-width: 620px) {
		padding-top: 0;
	}

	&__container {
		display: flex;
		flex-direction: column;
		align-items: center;
		padding-bottom: 230px;
	}

	&__title {
		padding-top: 120px;
		padding-bottom: 35px;
		text-align: center;
	}
}
