.hero-section {
	background-image: url('../images/hero.jpg');
	background-size: cover;
	background-position: center top;
	background-repeat: no-repeat;
	padding-top: 4.1rem;
	padding-bottom: 7.1rem;
	text-align: center;

	&__title,
	&__secondary-title,
	&__last-title {
		color: var(--color-white);
	}

	&__title {
		font-family: 'Bebas Neue';
		// font-size: 6rem;
		font-size: clamp(2.7rem, 7vw, 6rem);
		font-weight: 400;
		letter-spacing: 6px;
		margin-top: 317px;
	}

	&__secondary-title {
		// font-size: 1.6rem;
		font-size: clamp(1.1rem, 3vw, 1.6rem);
		font-weight: 600;
	}

	&__last-title {
		font-weight: 600;
		letter-spacing: 3.7px;
		margin-top: 221px;
	}
}
